<div class="container bg-info">
  <div class="row py-2 justify-content-between">
    <div class="col-auto">
      <%= link_to root_path, class: "btn btn-light" do %>
        <div class="d-flex align-items-center">
          <div>
            <%= image_tag "gbapp_title.png" %>
          </div>
          <div class="ms-2">
            <p><%= t(".app_title") %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-auto">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <%= t(".menu") %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to t(".my_page"), user_path(current_user), class: 'dropdown-item' %></li>
          <li><%= link_to t(".logout"), logout_path, data: { turbo_method: :delete }, class: 'dropdown-item' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>