<div class="container bg-info">
  <div class="row py-2 justify-content-between">
    <div class="col-auto">
      <%= link_to root_path, class: "btn btn-light" do %>
        <div class="d-flex align-items-center">
          <p>トップページへ</p>
        </div>
      <% end %>
    </div>

    <div class="col-auto">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to "1", "#", class: 'dropdown-item' %></li>
          <li><%= link_to "2", "#", class: 'dropdown-item' %></li>
          <li><%= link_to "3", "#", class: 'dropdown-item' %></li>
          <li><%= link_to "4", "#", class: 'dropdown-item' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>