<input type="checkbox" name="forte_weapon_character_<%= id %>" value="1" id="forte-weapon-character-<%= id %>-option-1">
<label for="forte-weapon-character-<%= id %>-option-1">1番</label>

<input type="checkbox" name="forte_weapon_character_<%= id %>" value="2" id="forte-weapon-character-<%= id %>-option-2">
<label for="forte-weapon-character-<%= id %>-option-2">2番</label> 

<input type="checkbox" name="forte_weapon_character_<%= id %>" value="3" id="forte-weapon-character-<%= id %>-option-3">
<label for="forte-weapon-character-<%= id %>-option-3">3番</label>

<input type="checkbox" name="forte_weapon_character_<%= id %>" value="4" id="forte-weapon-character-<%= id %>-option-4">
<label for="forte-weapon-character-<%= id %>-option-4">4番</label>