<input type="checkbox" name="forte_weapon_character_<%= id %>" value="1" id="forte-weapon-character-<%= id %>-option-1">
<label for="forte-weapon-character-<%= id %>-option-1">剣</label>

<input type="checkbox" name="forte_weapon_character_<%= id %>" value="2" id="forte-weapon-character-<%= id %>-option-2">
<label for="forte-weapon-character-<%= id %>-option-2">短剣</label> 

<input type="checkbox" name="forte_weapon_character_<%= id %>" value="3" id="forte-weapon-character-<%= id %>-option-3">
<label for="forte-weapon-character-<%= id %>-option-3">槍</label>

<input type="checkbox" name="forte_weapon_character_<%= id %>" value="4" id="forte-weapon-character-<%= id %>-option-4">
<label for="forte-weapon-character-<%= id %>-option-4">斧</label>

<input type="checkbox" name="forte_weapon_character_<%= id %>" value="5" id="forte-weapon-character-<%= id %>-option-5">
<label for="forte-weapon-character-<%= id %>-option-5">杖</label>

<input type="checkbox" name="forte_weapon_character_<%= id %>" value="6" id="forte-weapon-character-<%= id %>-option-6">
<label for="forte-weapon-character-<%= id %>-option-6">銃</label>

<input type="checkbox" name="forte_weapon_character_<%= id %>" value="7" id="forte-weapon-character-<%= id %>-option-7">
<label for="forte-weapon-character-<%= id %>-option-7">格闘</label>

<input type="checkbox" name="forte_weapon_character_<%= id %>" value="8" id="forte-weapon-character-<%= id %>-option-8">
<label for="forte-weapon-character-<%= id %>-option-8">弓</label>

<input type="checkbox" name="forte_weapon_character_<%= id %>" value="9" id="forte-weapon-character-<%= id %>-option-9">
<label for="forte-weapon-character-<%= id %>-option-9">楽器</label>

<input type="checkbox" name="forte_weapon_character_<%= id %>" value="10" id="forte-weapon-character-<%= id %>-option-10">
<label for="forte-weapon-character-<%= id %>-option-10">刀</label>