<div class="container">
  <div>
    <div class="character-list pt-1">
      <div class="mx-3">
        <p>TA率合計</p>
      </div>
      <div class="mx-3">
        <p id="character_1">主人公: 0.0%</p>
      </div>
      <div class="mx-3">
        <p id="character_2">メンバー2: 0.0%</p>
      </div>
      <div class="mx-3">
        <p id="character_3">メンバー3: 0.0%</p>
      </div>
      <div class="mx-3">
        <p id="character_4">メンバー4: 0.0%</p>
      </div>

      <div class="character-setting-dropdown mx-3">
        <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="character-setting-button" data-bs-toggle="dropdown" aria-expanded="false">
        設定
        </button>
        
        <ul class="dropdown-menu" aria-labelledby="character-setting-button">
          <li><button id="hideShowButton" type="button" class="dropdown-item">解説の表示/非表示切替</button></li>
        </ul>
      </div>
    </div>


        <div class="pt-3">
          <p></p>
        </div>

    <div class="pt-5 infomation">
      <h1>TA率計算ページ</h1>
      <p>マスクデータであるキャラごと、ジョブごとのTA基礎値は含まれておりません</p>
      <p>小数点第二位四捨五入</p>
    </div>
    
    <div>
      <form id="estimate-form">
        <div class="pt-3" id="aiueo" style="display: none;">
          <p>〜解説〜</p>
          <p>マグナシリーズ召喚石、神石（オプティマスシリーズ）召喚石の加護の割合を設定してください</p>
          <p>「召喚石の加護の割合」 x 「スキル 乱舞の武器、スキル 三手の武器」の結果が全員の合計TA率に加算されます</p>
        </div>

        <div class="selection-items mt-3">
          <div class="item-title">
            <p>メイン、フレンド召喚石の設定</p>
          </div>

          <div>
            <div class="item-title">
              <p>マグナの加護(%)</p>
            </div>
            <input type="number" class="box" name="magna_divine_protection" value="0">
          </div>

          <div>
            <div class="item-title">
              <p>神石の加護(%)</p>
            </div>
            <input type="number" class="box" name="optimus_divine_protection" value="0">
          </div>
        </div>

        <%# ーーーーーーーー ↓武器の三手 ーーーーーーーー %>
        <div class="mt-3">
          <div class="item-title">
              <p>スキル 乱舞の武器、スキル 三手の武器の本数</p>
          </div>

          <div class="mt-3">
            <div class="weapon-list" id="weaponSlv10">
              <%= render "three_moves_options", label: "マグナ 乱舞(小) Slv 10", id: "magna_boisterous_dance_small_slv10" %>
              <%= render "three_moves_options", label: "マグナ 乱舞(中) Slv 10", id: "magna_boisterous_dance_medium_slv10" %>
              <%= render "three_moves_options", label: "マグナ 乱舞(大) Slv 10", id: "magna_boisterous_dance_large_slv10" %>
              <%= render "three_moves_options", label: "マグナ 三手(小) Slv 10", id: "magna_three_moves_small_slv10" %>
              <%= render "three_moves_options", label: "マグナ 三手(中) Slv 10", id: "magna_three_moves_medium_slv10" %>
              <%= render "three_moves_options", label: "マグナ 三手(大) Slv 10", id: "magna_three_moves_large_slv10" %>
            </div>

            <div class="weapon-list" id="weaponSlv15">
              <%= render "three_moves_options", label: "マグナ 乱舞(小) Slv 15", id: "magna_boisterous_dance_small_slv15" %>
              <%= render "three_moves_options", label: "マグナ 乱舞(中) Slv 15", id: "magna_boisterous_dance_medium_slv15" %>
              <%= render "three_moves_options", label: "マグナ 乱舞(大) Slv 15", id: "magna_boisterous_dance_large_slv15" %>
              <%= render "three_moves_options", label: "マグナ 三手(小) Slv 15", id: "magna_three_moves_small_slv15" %>
              <%= render "three_moves_options", label: "マグナ 三手(中) Slv 15", id: "magna_three_moves_medium_slv15" %>
              <%= render "three_moves_options", label: "マグナ 三手(大) Slv 15", id: "magna_three_moves_large_slv15" %>
              <%= render "three_moves_options", label: "マグナ 乱舞(中) Slv 20", id: "magna_boisterous_dance_medium_slv20" %>
              <%= render "three_moves_options", label: "マグナ 三手(中) Slv 20", id: "magna_three_moves_medium_slv20" %>
            </div>

            <div class="weapon-list" id="weaponSlv10">
              <%= render "three_moves_options", label: "神石 乱舞(小) Slv 10", id: "optimus_boisterous_dance_small_slv10" %>
              <%= render "three_moves_options", label: "神石 乱舞(中) Slv 10", id: "optimus_boisterous_dance_medium_slv10" %>
              <%= render "three_moves_options", label: "神石 乱舞(大) Slv 10", id: "optimus_boisterous_dance_large_slv10" %>
              <%= render "three_moves_options", label: "神石 三手(小) Slv 10", id: "optimus_three_moves_small_slv10" %>
              <%= render "three_moves_options", label: "神石 三手(中) Slv 10", id: "optimus_three_moves_medium_slv10" %>
              <%= render "three_moves_options", label: "神石 三手(大) Slv 10", id: "optimus_three_moves_large_slv10" %>
            </div>

            <div class="three-moves-list" id="weaponSlv15">
              <%= render "three_moves_options", label: "神石 乱舞(小) Slv 15", id: "optimus_boisterous_dance_small_slv15" %>
              <%= render "three_moves_options", label: "神石 乱舞(中) Slv 15", id: "optimus_boisterous_dance_medium_slv15" %>
              <%= render "three_moves_options", label: "神石 乱舞(大) Slv 15", id: "optimus_boisterous_dance_large_slv15" %>
              <%= render "three_moves_options", label: "神石 三手(小) Slv 15", id: "optimus_three_moves_small_slv15" %>
              <%= render "three_moves_options", label: "神石 三手(中) Slv 15", id: "optimus_three_moves_medium_slv15" %>
              <%= render "three_moves_options", label: "神石 三手(大) Slv 15", id: "optimus_three_moves_large_slv15" %>
              <%= render "three_moves_options", label: "神石 乱舞(中) Slv 20", id: "optimus_boisterous_dance_medium_slv20" %>
              <%= render "three_moves_options", label: "神石 三手(中) Slv 20", id: "optimus_three_moves_medium_slv20" %>
            </div>
          </div>
        </div>
        
        <div>
          <div class="item-title mt-3">
            <p>終末武器 極破</p>
          </div>

          <div class="selection-items">
            <input type="radio" name="kyokuha" value="0" id="kyokuha-0"  checked>
            <label for="kyokuha-0">未発動</label>

            <input type="radio" name="kyokuha" value="1" id="kyokuha-1">
            <label for="kyokuha-1">発動</label>
          </div>
        </div>

        <%# ーーーーーーーー ↓終末武器 第二スキル ーーーーーーーー %>
    
        <div>
          <div class="item-title mt-3">
            <p>終末武器 第二スキル アルファ・ペンデュラム</p>
          </div>

          <div class="selection-items">
            <input type="radio" name="terminal_weapon" value="0" id="terminal_weapon-0"  checked>
            <label for="terminal_weapon-0">無</label>

            <input type="radio" name="terminal_weapon" value="1" id="terminal_weapon-1">
            <label for="terminal_weapon-1">有 (終末武器lv230)</label>

            <input type="radio" name="terminal_weapon" value="2" id="terminal_weapon-2">
            <label for="terminal_weapon-2">有 (終末武器lv250)</label>
          </div>
        </div>

        <div class="selection-items">
          <div class="item-title mt-3">
            <p>リミテッドシリーズ武器 スキル『◯◯◯･アトス』</p>
          </div>

          <select id="athos">
            <option value="0">0本</option>
            <option value="1">1本</option>
            <option value="2">2本</option>
            <option value="3">3本</option>
          </select>
        </div>

        <div class="selection-items">
          <div class="item-title mt-3">
            <p>ル・オー・ホーン（光編成で使う場合でのみ選択可）</p>
          </div>

          <select id="ruo">
            <option value="0">0本</option>
            <option value="1">1本</option>
            <option value="2">2本</option>
            <option value="3">3本</option>
          </select>
        </div>

        <%# ーーーーーーーー ↓オメガ武器・極星器 ーーーーーーーー %>

        <div>
          <div class="item-title mt-3">
            <p>主人公の得意武器</p>
          </div>

          <div class="selection-items">
            <%= render "forte_weapon_list", id: 1 %>
          </div>
        </div>

        <div>
          <div class="item-title mt-3">
            <p>メンバー2の得意武器</p>
          </div>

          <div class="selection-items">
            <%= render "forte_weapon_list", id: 2 %>
          </div>
        </div>

        <div>
          <div class="item-title mt-3">
            <p>メンバー3の得意武器</p>
          </div>

          <div class="selection-items">
            <%= render "forte_weapon_list", id: 3 %>
          </div>
        </div>

        <div>
          <div class="item-title mt-3">
            <p>メンバー4の得意武器</p>
          </div>

          <div class="selection-items">
            <%= render "forte_weapon_list", id: 4 %>
          </div>
        </div>

        <div>
          <div class="item-title mt-3">
            <p>オメガ武器（連撃）</p>
          </div>

          <div class="selection-items">
            <%= render "omega_and_star_weapon", weapon_name: "omega" %>
          </div>
        </div>

        <div>
          <div class="item-title mt-3">
            <p>極星器</p>
          </div>

          <div class="selection-items">
            <%= render "omega_and_star_weapon", weapon_name: "star_weapon" %>
          </div>
        </div>

        <%# ーーーーーーーー ↓武器その他 ーーーーーーーー %>

        <div>
          <div class="item-title mt-3">
            <p>武器によるTA上昇（全体） その他(ミーレスシリーズ、EXスキル付き武器など)</p>
          </div>

          <div class="selection-items">
            <input type="number" class="box" name="weapon_outher">
          </div>
        </div>

        <%# ーーーーーーーー ↓メイン、サブ召喚石 ーーーーーーーー %>

        <div>
          <div class="item-title mt-3">
            <p>メイン、サブ召喚石</p>
          </div>

          <div class="selection-items">
            <input type="radio" name="summons" value="0" id="summons-0" checked>
            <label for="summons-0">選択しない</label>

            <input type="radio" name="summons" value="1" id="summons-1">
            <label for="summons-1">ベルゼバブ</label>

            <input type="radio" name="summons" value="2" id="summons-2">
            <label for="summons-2">片面かぐや</label>

            <input type="radio" name="summons" value="3" id="summons-3">
            <label for="summons-3">両面かぐや</label>

            <input type="radio" name="summons" value="4" id="summons-4">
            <label for="summons-4">ベルゼバブ＋かぐや</label>
          </div>
        </div>

        <%# ーーーーーーーー ↓ハーマー ーーーーーーーー %>

        <div>
          <div class="item-title mt-3">
            <p>サブ召喚石、ハールート・マールート</p>
          </div>

          <div class="selection-items">
            <input type="radio" name="hama" value="0" id="hama-0"  checked>
            <label for="hama-0">選択しない</label>

            <input type="radio" name="hama" value="1" id="hama-1">
            <label for="hama-1">選択する</label>
          </div>
        </div>

        <%# ーーーーーーーー ↓神滅戦 ーーーーーーーー %>

        <div>
          <div class="item-title mt-3">
            <p>神滅戦</p>
          </div>

          <div class="selection-items">
            <input type="radio" name="coat_of_arms" value="0" id="coat_of_arms-0"  checked>
            <label for="coat_of_arms-0">選択しない</label>

            <input type="radio" name="coat_of_arms" value="1" id="coat_of_arms-1">
            <label for="coat_of_arms-1">神滅の印章lv10</label>

            <input type="radio" name="coat_of_arms" value="2" id="coat_of_arms-2">
            <label for="coat_of_arms-2">神滅の印章lv15</label>
          </div>
        </div>

        <%# ーーーーーーーー ↓スキルバフ、召喚効果など 全体 ーーーーーーーー %>

        <div>
          <div class="item-title mt-3">
            <p>スキル効果、召喚効果によるTA上昇（全体）</p>
          </div>

          <div class="selection-items">
            <input type="number" class="box" name="skill_all">
          </div>
        </div>

        <%# ーーーーーーーー ↓主人公のステータス上昇要素 ーーーーーーーー %>

        <div class="box-items">
          <div class="item-title mt-3">
            <p>主人公のステータス上昇要素</p>
          </div>

          <div>
            <p>リミットボーナス</p>
            <input type="number" class="box" name="limit_bonus_character_1">
          </div>

          <div>
            <p>コンプリートボーナス</p>
            <input type="number" class="box" name="complate_bonus_character_1">
          </div>

          <div>
            <p>ジョブのLvアップボーナス</p>
            <input type="number" class="box" name="levelup_bonus_character_1">
          </div>

          <div>
            <p>ジョブの極地ボーナス</p>
            <input type="number" class="box" name="master_bonus_character_1">
          </div>

          <div>
            <p>その他要因（スキル効果（単体）など）</p>
            <input type="number" class="box" name="skill_single_character_1">
          </div>
        </div>

        <%# メンバーのステータス上昇要素 %>

        <div class="box-items">
          <%= render "members_status_up_infomation", id: 2 %>
        </div>

        <div class="box-items">
          <%= render "members_status_up_infomation", id: 3 %>
        </div>

        <div class="box-items">
          <%= render "members_status_up_infomation", id: 4 %>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const form = document.getElementById('estimate-form');
const totalElement_1 = document.getElementById('character_1');
const totalElement_2 = document.getElementById('character_2');
const totalElement_3 = document.getElementById('character_3');
const totalElement_4 = document.getElementById('character_4');

function calculateTotal() {
  let character_1 = 0;
  let character_2 = 0;
  let character_3 = 0;
  let character_4 = 0;


  // 武器の三手 x 加護の計算
  const magna_divine_protection_input = parseInt(document.getElementsByName('magna_divine_protection')[0].value);
  const magna_divine_protection = magna_divine_protection_input + 100;
  const optimus_divine_protection_input = parseInt(document.getElementsByName('optimus_divine_protection')[0].value);
  const optimus_divine_protection = optimus_divine_protection_input + 100;

  // 武器の三手 マグナ乱舞（小、中、大）
  const magna_boisterous_dance_small_slv10 = parseInt(document.getElementById('magna_boisterous_dance_small_slv10').value);
  const magna_boisterous_dance_medium_slv10 = parseInt(document.getElementById('magna_boisterous_dance_medium_slv10').value);
  const magna_boisterous_dance_large_slv10 = parseInt(document.getElementById('magna_boisterous_dance_large_slv10').value);
  const magna_boisterous_dance_small_slv15 = parseInt(document.getElementById('magna_boisterous_dance_small_slv15').value);
  const magna_boisterous_dance_medium_slv15 = parseInt(document.getElementById('magna_boisterous_dance_medium_slv15').value);
  const magna_boisterous_dance_large_slv15 = parseInt(document.getElementById('magna_boisterous_dance_large_slv15').value);
  const magna_boisterous_dance_medium_slv20 = parseInt(document.getElementById('magna_boisterous_dance_medium_slv20').value);

  // 武器の三手 マグナ三手（小、中、大）
  const magna_three_moves_small_slv10 = parseInt(document.getElementById('magna_three_moves_small_slv10').value);
  const magna_three_moves_medium_slv10 = parseInt(document.getElementById('magna_three_moves_medium_slv10').value);
  const magna_three_moves_large_slv10 = parseInt(document.getElementById('magna_three_moves_large_slv10').value);
  const magna_three_moves_small_slv15 = parseInt(document.getElementById('magna_three_moves_small_slv15').value);
  const magna_three_moves_medium_slv15 = parseInt(document.getElementById('magna_three_moves_medium_slv15').value);
  const magna_three_moves_large_slv15 = parseInt(document.getElementById('magna_three_moves_large_slv15').value);
  const magna_three_moves_medium_slv20 = parseInt(document.getElementById('magna_three_moves_medium_slv20').value);

  // 武器の三手 神石乱舞（小、中、大）
  const optimus_boisterous_dance_small_slv10 = parseInt(document.getElementById('optimus_boisterous_dance_small_slv10').value);
  const optimus_boisterous_dance_medium_slv10 = parseInt(document.getElementById('optimus_boisterous_dance_medium_slv10').value);
  const optimus_boisterous_dance_large_slv10 = parseInt(document.getElementById('optimus_boisterous_dance_large_slv10').value);
  const optimus_boisterous_dance_small_slv15 = parseInt(document.getElementById('optimus_boisterous_dance_small_slv15').value);
  const optimus_boisterous_dance_medium_slv15 = parseInt(document.getElementById('optimus_boisterous_dance_medium_slv15').value);
  const optimus_boisterous_dance_large_slv15 = parseInt(document.getElementById('optimus_boisterous_dance_large_slv15').value);
  const optimus_boisterous_dance_medium_slv20 = parseInt(document.getElementById('optimus_boisterous_dance_medium_slv20').value);

  // 武器の三手 神石三手（小、中、大）
  const optimus_three_moves_small_slv10 = parseInt(document.getElementById('optimus_three_moves_small_slv10').value);
  const optimus_three_moves_medium_slv10 = parseInt(document.getElementById('optimus_three_moves_medium_slv10').value);
  const optimus_three_moves_large_slv10 = parseInt(document.getElementById('optimus_three_moves_large_slv10').value);
  const optimus_three_moves_small_slv15 = parseInt(document.getElementById('optimus_three_moves_small_slv15').value);
  const optimus_three_moves_medium_slv15 = parseInt(document.getElementById('optimus_three_moves_medium_slv15').value);
  const optimus_three_moves_large_slv15 = parseInt(document.getElementById('optimus_three_moves_large_slv15').value);
  const optimus_three_moves_medium_slv20 = parseInt(document.getElementById('optimus_three_moves_medium_slv20').value);

  // 各武器の数 x 武器ごとの固定連撃率

  const magna_three_moves_total = 
  ((magna_boisterous_dance_small_slv10 * 135) + (magna_boisterous_dance_medium_slv10 * 215) + (magna_boisterous_dance_large_slv10 * 345) +
   (magna_boisterous_dance_small_slv15 * 200) + (magna_boisterous_dance_medium_slv15 * 290) + (magna_boisterous_dance_large_slv15 * 420) + (magna_boisterous_dance_medium_slv20 * 365) +
   (magna_three_moves_small_slv10 * 200) + (magna_three_moves_medium_slv10 * 350) + (magna_three_moves_large_slv10 * 500) +
   (magna_three_moves_small_slv15 * 350) + (magna_three_moves_medium_slv15 * 500) + (magna_three_moves_large_slv15 * 700) + (magna_three_moves_medium_slv20 * 600));

  const optimus_three_moves_total = 
  ((optimus_boisterous_dance_small_slv10 * 135) + (optimus_boisterous_dance_medium_slv10 * 215) + (optimus_boisterous_dance_large_slv10 * 345) +
   (optimus_boisterous_dance_small_slv15 * 200) + (optimus_boisterous_dance_medium_slv15 * 290) + (optimus_boisterous_dance_large_slv15 * 420) + (optimus_boisterous_dance_medium_slv20 * 365) +
   (optimus_three_moves_small_slv10 * 200) + (optimus_three_moves_medium_slv10 * 350) + (optimus_three_moves_large_slv10 * 500) +
   (optimus_three_moves_small_slv15 * 350) + (optimus_three_moves_medium_slv15 * 500) + (optimus_three_moves_large_slv15 * 700) + (optimus_three_moves_medium_slv20 * 600));

  // 浮動小数点数の精度の問題の誤差を防ぐため、実際の(連撃率 x 100)して整数で計算。
  // Math.floorで下三桁を切り捨て。toFixed(1)で小数点以下1桁にして見た目上の精度を保つ。
  // toFixed(1)で処理後は文字列になってしまうので parseFloat で数値に変換。

  const totalWeaponValueBeforeRoundingDown = (magna_divine_protection * magna_three_moves_total) + (optimus_divine_protection * optimus_three_moves_total);
  const totalWeaponValueBeforeToFixed = Math.floor(totalWeaponValueBeforeRoundingDown / 1000);

  character_1 += parseFloat((totalWeaponValueBeforeToFixed * 0.1).toFixed(1));
  character_2 += parseFloat((totalWeaponValueBeforeToFixed * 0.1).toFixed(1));
  character_3 += parseFloat((totalWeaponValueBeforeToFixed * 0.1).toFixed(1));
  character_4 += parseFloat((totalWeaponValueBeforeToFixed * 0.1).toFixed(1));


  // 武器、極破、アトス、ルオーホーン
  const kyokuha = document.querySelector('input[name="kyokuha"]:checked');
  if (kyokuha.value === "1") { 
    character_1 += 25;
    character_2 += 25;
    character_3 += 25;
    character_4 += 25;
  }

  const athos = parseInt(document.getElementById('athos').value);
  if (magna_divine_protection_input >= 280 || optimus_divine_protection_input >= 280) {
    const athosTotal = parseFloat((athos * 12.5).toFixed(1));
    character_1 += athosTotal;
    character_2 += athosTotal;
    character_3 += athosTotal;
    character_4 += athosTotal;
  } else {
    const athosTotal = parseFloat((athos * 6.25).toFixed(1));
    character_1 += athosTotal;
    character_2 += athosTotal;
    character_3 += athosTotal;
    character_4 += athosTotal;
  }

  const ruo = parseInt(document.getElementById('ruo').value);
  const totalRuoWeapon = 14 * ruo;
  character_1 += totalRuoWeapon;
  character_2 += totalRuoWeapon;
  character_3 += totalRuoWeapon;
  character_4 += totalRuoWeapon;

  // オメガ武器、極星器の計算
  const forte_weapon_character_1 = document.querySelectorAll('input[name="forte_weapon_character_1"]:checked');
  const forte_weapon_character_2 = document.querySelectorAll('input[name="forte_weapon_character_2"]:checked');
  const forte_weapon_character_3 = document.querySelectorAll('input[name="forte_weapon_character_3"]:checked');
  const forte_weapon_character_4 = document.querySelectorAll('input[name="forte_weapon_character_4"]:checked');

  const omega_weapon = document.querySelectorAll('input[name="omega"]:checked');
  const star_weapon = document.querySelectorAll('input[name="star_weapon"]:checked');
  const star_weapon_minimum = 5;

  // オメガ武器、極星器の計算  主人公の計算
  for (let i = 0; i < forte_weapon_character_1.length; i++) {
    if (forte_weapon_character_1[i].value === omega_weapon[0].value) {
      character_1 += 25;
    }
  }
  for (let i = 0; i < forte_weapon_character_1.length; i++) {
    if (forte_weapon_character_1[i].value === star_weapon[0].value) {
      character_1 += 5;
    }
  }

  // オメガ武器、極星器の計算  キャラ2の計算
  for (let i = 0; i < forte_weapon_character_2.length; i++) {
    if (forte_weapon_character_2[i].value === omega_weapon[0].value) {
      character_2 += 25;
    }
  }
  for (let i = 0; i < forte_weapon_character_2.length; i++) {
    if (forte_weapon_character_2[i].value === star_weapon[0].value) {
      character_2 += 5;
    }
  }

  // オメガ武器、極星器の計算  キャラ3の計算
  for (let i = 0; i < forte_weapon_character_3.length; i++) {
    if (forte_weapon_character_3[i].value === omega_weapon[0].value) {
      character_3 += 25;
    }
  }
  for (let i = 0; i < forte_weapon_character_3.length; i++) {
    if (forte_weapon_character_3[i].value === star_weapon[0].value) {
      character_3 += 5;
    }
  }

  // オメガ武器、極星器の計算  キャラ4の計算
  for (let i = 0; i < forte_weapon_character_4.length; i++) {
    if (forte_weapon_character_4[i].value === omega_weapon[0].value) {
      character_4 += 25;
    }
  }
  for (let i = 0; i < forte_weapon_character_4.length; i++) {
    if (forte_weapon_character_4[i].value === star_weapon[0].value) {
      character_4 += 5;
    }
  }

  if (star_weapon[0].value !== "0") {
    character_1 += star_weapon_minimum;
    character_2 += star_weapon_minimum;
    character_3 += star_weapon_minimum;
    character_4 += star_weapon_minimum;
  }


  // メイン召喚石の計算
  const summons = document.querySelector('input[name="summons"]:checked');
  if (summons.value === "1") {
    character_1 += 50
    } else if (summons.value === "2") {
    character_1 += 25;
    character_2 += 25;
    character_3 += 25;
    character_4 += 25;
    } else if (summons.value === "3") {
    character_1 += 50;
    character_2 += 50;
    character_3 += 50;
    character_4 += 50;
    } else if (summons.value === "4") {
    character_1 += 75;
    character_2 += 25;
    character_3 += 25;
    character_4 += 25;
  }


  // 召喚石「ハールートマールトの計算」
  const hama = document.querySelector('input[name="hama"]:checked');
  if (hama.value === "1") { 
    character_1 += 10;
    character_2 += 10;
    character_3 += 10;
    character_4 += 10;
  }


  // 終末武器第二スキルの計算
  const terminal_weapon = document.querySelector('input[name="terminal_weapon"]:checked');
  if (terminal_weapon.value === "1") {
    character_1 += 2.5;
    character_2 += 2.5;
    character_3 += 2.5;
    character_4 += 2.5;
    } else if (terminal_weapon.value === "2") {
    character_1 += 5;
    character_2 += 5;
    character_3 += 5;
    character_4 += 5;
  }


  // 神滅の印章の計算
  const coat_of_arms = document.querySelector('input[name="coat_of_arms"]:checked');
  if (coat_of_arms.value === "1") {
    character_1 += 3;
    character_2 += 3;
    character_3 += 3;
    character_4 += 3;
    } else if (coat_of_arms.value === "2") {
    character_1 += 5;
    character_2 += 5;
    character_3 += 5;
    character_4 += 5;
  }


  // 武器のその他要因の計算（全体）
  const weapon_outher = parseFloat(document.getElementsByName('weapon_outher')[0].value);
  if (weapon_outher) {
    character_1 += weapon_outher;
    character_2 += weapon_outher;
    character_3 += weapon_outher;
    character_4 += weapon_outher;
  }


  // スキルなどによる上昇の計算（全体）
  const skill_all = parseFloat(document.getElementsByName('skill_all')[0].value);
  if (skill_all) {
    character_1 += skill_all;
    character_2 += skill_all;
    character_3 += skill_all;
    character_4 += skill_all;
  }


  // スキルなどによる上昇の計算（個別）
  const skill_single_character_1 = parseFloat(document.getElementsByName('skill_single_character_1')[0].value);
  if (skill_single_character_1) {character_1 += skill_single_character_1}

  const skill_single_character_2 = parseFloat(document.getElementsByName('skill_single_character_2')[0].value);
  if (skill_single_character_2) {character_2 += skill_single_character_2}

  const skill_single_character_3 = parseFloat(document.getElementsByName('skill_single_character_3')[0].value);
  if (skill_single_character_3) {character_3 += skill_single_character_3}

  const skill_single_character_4 = parseFloat(document.getElementsByName('skill_single_character_4')[0].value);
  if (skill_single_character_4) {character_4 += skill_single_character_4}


  // アーティファクトの計算（個別）
  const artifact_character_2 = parseFloat(document.getElementsByName('artifact_character_2')[0].value);
  if (artifact_character_2) {character_2 += artifact_character_2}

  const artifact_character_3 = parseFloat(document.getElementsByName('artifact_character_3')[0].value);
  if (artifact_character_3) {character_3 += artifact_character_3}

  const artifact_character_4 = parseFloat(document.getElementsByName('artifact_character_4')[0].value);
  if (artifact_character_4) {character_4 += artifact_character_4}

  // 主人公のボーナス計算

  const complate_bonus_character_1 = parseFloat(document.getElementsByName('complate_bonus_character_1')[0].value);
  if (complate_bonus_character_1) {character_1 += complate_bonus_character_1}

  const levelup_bonus_character_1 = parseFloat(document.getElementsByName('levelup_bonus_character_1')[0].value);
  if (levelup_bonus_character_1) {character_1 += levelup_bonus_character_1}

  const master_bonus_character_1 = parseFloat(document.getElementsByName('master_bonus_character_1')[0].value);
  if (master_bonus_character_1) {character_1 += master_bonus_character_1}


  // リミットボーナスの計算（個別）
  const limit_bonus_character_1 = parseFloat(document.getElementsByName('limit_bonus_character_1')[0].value);
  if (limit_bonus_character_1) {character_1 += limit_bonus_character_1}

  const limit_bonus_character_2 = parseFloat(document.getElementsByName('limit_bonus_character_2')[0].value);
  if (limit_bonus_character_2) {character_2 += limit_bonus_character_2}

  const limit_bonus_character_3 = parseFloat(document.getElementsByName('limit_bonus_character_3')[0].value);
  if (limit_bonus_character_3) {character_3 += limit_bonus_character_3}

  const limit_bonus_character_4 = parseFloat(document.getElementsByName('limit_bonus_character_4')[0].value);
  if (limit_bonus_character_4) {character_4 += limit_bonus_character_4}


  // 指輪、耳飾りの計算（個別）
  const ring_character_2 = parseFloat(document.getElementsByName('ring_character_2')[0].value);
  if (ring_character_2) {character_2 += ring_character_2}

  const ring_character_3 = parseFloat(document.getElementsByName('ring_character_3')[0].value);
  if (ring_character_3) {character_3 += ring_character_3}

  const ring_character_4 = parseFloat(document.getElementsByName('ring_character_4')[0].value);
  if (ring_character_4) {character_4 += ring_character_4}

  // 連続攻撃覚醒の計算
  const consecutive_attack_character_2 = parseInt(document.getElementById('consecutive_attack_character_2').value);
  const consecutive_attack_character_3 = parseInt(document.getElementById('consecutive_attack_character_3').value);
  const consecutive_attack_character_4 = parseInt(document.getElementById('consecutive_attack_character_4').value);
  character_2 += 5 * consecutive_attack_character_2;
  character_3 += 5 * consecutive_attack_character_3;
  character_4 += 5 * consecutive_attack_character_4;


  // 浮動小点数を処理
  const character_1_after_convervion = character_1.toFixed(1)
  const character_2_after_convervion = character_2.toFixed(1)
  const character_3_after_convervion = character_3.toFixed(1)
  const character_4_after_convervion = character_4.toFixed(1)


  // 合計を表示
  totalElement_1.innerText = `主人公: ${character_1_after_convervion}%`;
  totalElement_2.innerText = `メンバー2: ${character_2_after_convervion}%`;
  totalElement_3.innerText = `メンバー3: ${character_3_after_convervion}%`;
  totalElement_4.innerText = `メンバー4: ${character_4_after_convervion}%`;
  }

// フォームにchangeイベントが発生した時にcalculateTotal関数を起動するイベントリスナーを追加
form.addEventListener('change', calculateTotal);


const apple = document.getElementById('aiueo');
const hideShowButton = document.getElementById('hideShowButton');

hideShowButton.addEventListener('click', () => {
  if (apple.style.display === 'none') {
    apple.style.display = 'block'; // 表示する
  } else {
    apple.style.display = 'none'; // 非表示にする
  }
});
</script>

