<div class="container">
  <div>
    <button id="toggleButton">表示/非表示切替</button>
    武器の加護計算
    <p>マスクデータであるキャラごと、ジョブごとのTA基礎値は含まれておりません</p>
    <p>小数点第二位四捨五入</p>
      <div>
      </div>
    <div>
      <div>
        <p id="character_1">character1: 0</p>
      </div>
      <div>
        <p id="character_2">character2: 0</p>
      </div>
      <div>
        <p id="character_3">character3: 0</p>
      </div>
      <div>
        <p id="character_4">character4: 0</p>
      </div>
    </div>

    <div>
      <form id="estimate-form">
        <%# ーーーーーーーー ↓武器の三手 ーーーーーーーー %>

        <div>
          <p>武器三手の計算(仮)</p>
  
          <%= render "three_moves_options", label: "マグナ 乱舞(小) Slv 10", id: "magna_boisterous_dance_small_slv10" %>
          <%= render "three_moves_options", label: "マグナ 乱舞(中) Slv 10", id: "magna_boisterous_dance_medium_slv10" %>
          <%= render "three_moves_options", label: "マグナ 乱舞(大) Slv 10", id: "magna_boisterous_dance_large_slv10" %>

          <%= render "three_moves_options", label: "マグナ 乱舞(小) Slv 15", id: "magna_boisterous_dance_small_slv15" %>
          <%= render "three_moves_options", label: "マグナ 乱舞(中) Slv 15", id: "magna_boisterous_dance_medium_slv15" %>
          <%= render "three_moves_options", label: "マグナ 乱舞(大) Slv 15", id: "magna_boisterous_dance_large_slv15" %>

          <%= render "three_moves_options", label: "マグナ 乱舞(中) Slv 20", id: "magna_boisterous_dance_medium_slv20" %>



          <%= render "three_moves_options", label: "マグナ 三手(小) Slv 10", id: "magna_three_moves_small_slv10" %>
          <%= render "three_moves_options", label: "マグナ 三手(中) Slv 10", id: "magna_three_moves_medium_slv10" %>
          <%= render "three_moves_options", label: "マグナ 三手(大) Slv 10", id: "magna_three_moves_large_slv10" %>

          <%= render "three_moves_options", label: "マグナ 三手(小) Slv 15", id: "magna_three_moves_small_slv15" %>
          <%= render "three_moves_options", label: "マグナ 三手(中) Slv 15", id: "magna_three_moves_medium_slv15" %>
          <%= render "three_moves_options", label: "マグナ 三手(大) Slv 15", id: "magna_three_moves_large_slv15" %>

          <%= render "three_moves_options", label: "マグナ 三手(中) Slv 20", id: "magna_three_moves_medium_slv20" %>





          <%= render "three_moves_options", label: "神石 乱舞(小) Slv 10", id: "optimus_boisterous_dance_small_slv10" %>
          <%= render "three_moves_options", label: "神石 乱舞(中) Slv 10", id: "optimus_boisterous_dance_medium_slv10" %>
          <%= render "three_moves_options", label: "神石 乱舞(大) Slv 10", id: "optimus_boisterous_dance_large_slv10" %>

          <%= render "three_moves_options", label: "神石 乱舞(小) Slv 15", id: "optimus_boisterous_dance_small_slv15" %>
          <%= render "three_moves_options", label: "神石 乱舞(中) Slv 15", id: "optimus_boisterous_dance_medium_slv15" %>
          <%= render "three_moves_options", label: "神石 乱舞(大) Slv 15", id: "optimus_boisterous_dance_large_slv15" %>

          <%= render "three_moves_options", label: "神石 乱舞(中) Slv 20", id: "optimus_boisterous_dance_medium_slv20" %>




          <%= render "three_moves_options", label: "神石 三手(小) Slv 10", id: "optimus_three_moves_small_slv10" %>
          <%= render "three_moves_options", label: "神石 三手(中) Slv 10", id: "optimus_three_moves_medium_slv10" %>
          <%= render "three_moves_options", label: "神石 三手(大) Slv 10", id: "optimus_three_moves_large_slv10" %>

          <%= render "three_moves_options", label: "神石 三手(小) Slv 15", id: "optimus_three_moves_small_slv15" %>
          <%= render "three_moves_options", label: "神石 三手(中) Slv 15", id: "optimus_three_moves_medium_slv15" %>
          <%= render "three_moves_options", label: "神石 三手(大) Slv 15", id: "optimus_three_moves_large_slv15" %>

          <%= render "three_moves_options", label: "神石 三手(中) Slv 20", id: "optimus_three_moves_medium_slv20" %>
          <div>
            <p>終末武器 極破</p>
            <input type="radio" name="kyokuha" value="0" id="kyokuha-0"  checked>
            <label for="kyokuha-0">無</label>

            <input type="radio" name="kyokuha" value="1" id="kyokuha-1">
            <label for="kyokuha-1">有</label>
          </div>

          <%= render "three_moves_options", label: "limited武器 スキル『◯◯◯･アトス』", id: "athos" %>

          <div>
            <p>ル・オー・ホーン（光編成で使う場合でのみ選択可）</p>
            <input type="radio" name="ruo" value="0" id="ruo-0"  checked>
            <label for="ruo-0">無</label>

            <input type="radio" name="ruo" value="1" id="ruo-1">
            <label for="ruo-1">有</label>
          </div>
          

          <div>
            <p>マグナの加護</p>
            <input type="number" class="box" name="magna_divine_protection" value="0">
          </div>

          <div>
            <p>神石の加護</p>
            <input type="number" class="box" name="optimus_divine_protection" value="0">
          </div>
        </div>

        <%# ーーーーーーーー ↓オメガ武器・極星器 ーーーーーーーー %>

        <div>
          <div>
            <p>主人公の得意武器</p>

            <input type="checkbox" name="forte_weapon_character_1" value="1">
            <label>1番</label>
            <input type="checkbox" name="forte_weapon_character_1" value="2">
            <label>2番</label>
            <input type="checkbox" name="forte_weapon_character_1" value="3">
            <label>3番</label>
            <input type="checkbox" name="forte_weapon_character_1" value="4">
            <label>4番</label>
          </div>

          <div>
            <p>キャラ2の得意武器</p>

            <input type="checkbox" name="forte_weapon_character_2" value="1">
            <label>1番</label>
            <input type="checkbox" name="forte_weapon_character_2" value="2">
            <label>2番</label>
            <input type="checkbox" name="forte_weapon_character_2" value="3">
            <label>3番</label>
            <input type="checkbox" name="forte_weapon_character_2" value="4">
            <label>4番</label>
          </div>

          <div>
            <p>キャラ3の得意武器</p>

            <input type="checkbox" name="forte_weapon_character_3" value="1">
            <label>1番</label>
            <input type="checkbox" name="forte_weapon_character_3" value="2">
            <label>2番</label>
            <input type="checkbox" name="forte_weapon_character_3" value="3">
            <label>3番</label>
            <input type="checkbox" name="forte_weapon_character_3" value="4">
            <label>4番</label>
          </div>

          <div>
            <p>キャラ4の得意武器</p>

            <input type="checkbox" name="forte_weapon_character_4" value="1">
            <label>1番</label>
            <input type="checkbox" name="forte_weapon_character_4" value="2">
            <label>2番</label>
            <input type="checkbox" name="forte_weapon_character_4" value="3">
            <label>3番</label>
            <input type="checkbox" name="forte_weapon_character_4" value="4">
            <label>4番</label>
          </div>

          <div>
            <p>オメガ武器（連撃）</p>

            <input type="radio" name="omega" value="0" id="omega-0" checked>
            <label for="omega-0">0番</label>

            <input type="radio" name="omega" value="1" id="omega-1">
            <label for="omega-1">1番</label>

            <input type="radio" name="omega" value="2" id="omega-2">
            <label for="omega-2">2番</label>

            <input type="radio" name="omega" value="3" id="omega-3">
            <label for="omega-3">3番</label>

            <input type="radio" name="omega" value="4" id="omega-4">
            <label for="omega-4">4番</label>
          </div>

          <div>
            <p>極星器</p>

            <input type="radio" name="star_weapon" value="0" id="star_weapon-0" checked>
            <label for="star_weapon-0">0番</label>

            <input type="radio" name="star_weapon" value="1" id="star_weapon-1">
            <label for="star_weapon-1">1番</label>

            <input type="radio" name="star_weapon" value="2" id="star_weapon-2">
            <label for="star_weapon-2">2番</label>

            <input type="radio" name="star_weapon" value="3" id="star_weapon-3">
            <label for="star_weapon-3">3番</label>

            <input type="radio" name="star_weapon" value="4" id="star_weapon-4">
            <label for="star_weapon-4">4番</label>
          </div>
        </div>

        <%# ーーーーーーーー ↓メイン、サブ召喚石 ーーーーーーーー %>

        <div>
          <p>メイン、サブ召喚石</p>
          <input type="radio" name="summons" value="0" id="summons-0" checked>
          <label for="summons-0">選択なし</label>

          <input type="radio" name="summons" value="1" id="summons-1">
          <label for="summons-1">ベルゼバブ</label>

          <input type="radio" name="summons" value="2" id="summons-2">
          <label for="summons-2">片面かぐや</label>

          <input type="radio" name="summons" value="3" id="summons-3">
          <label for="summons-3">両面かぐや</label>
        </div>

        <%# ーーーーーーーー ↓ハーマー ーーーーーーーー %>

        <div>
          <p>サブ召喚石、ハーマー</p>
          <input type="radio" name="hama" value="0" id="hama-0"  checked>
          <label for="hama-0">選択なし</label>

          <input type="radio" name="hama" value="1" id="hama-1">
          <label for="hama-1">選択する</label>
        </div>

        <%# ーーーーーーーー ↓終末武器 第二スキル ーーーーーーーー %>
        
        <div>
          <p>終末武器 第二スキルα</p>
          <input type="radio" name="terminal_weapon" value="0" id="terminal_weapon-0"  checked>
          <label for="terminal_weapon-0">選択なし</label>

          <input type="radio" name="terminal_weapon" value="1" id="terminal_weapon-1">
          <label for="terminal_weapon-1">終末武器lv230 第二スキルα</label>

          <input type="radio" name="terminal_weapon" value="2" id="terminal_weapon-2">
          <label for="terminal_weapon-2">終末武器lv250 第二スキルα</label>
        </div>

        <%# ーーーーーーーー ↓連撃覚醒 ーーーーーーーー %>

        <div>
          <p>連撃覚醒（主人公なし）</p>
        </div>

        <%# ーーーーーーーー ↓神滅戦 ーーーーーーーー %>

        <div>
          <p>神滅戦</p>
          <input type="radio" name="coat_of_arms" value="0" id="coat_of_arms-0"  checked>
          <label for="coat_of_arms-0">選択しない</label>

          <input type="radio" name="coat_of_arms" value="1" id="coat_of_arms-1">
          <label for="coat_of_arms-1">神滅の印章lv10</label>

          <input type="radio" name="coat_of_arms" value="2" id="coat_of_arms-2">
          <label for="coat_of_arms-2">神滅の印章lv15</label>
        </div>

        <%# ーーーーーーーー ↓武器その他 全体 ーーーーーーーー %>
        
        <div>
          <p>武器その他 全体</p>
          <input type="number" class="box" name="weapon_outher">
        </div>

        <%# ーーーーーーーー ↓スキルバフ、召喚効果など 全体 ーーーーーーーー %>

        <div>
          <p>スキルバフ、召喚効果など 全体</p>
          <input type="number" class="box" name="skill_all">
        </div>

        <%# ーーーーーーーー ↓スキルバフ、召喚効果など 単体 ーーーーーーーー %>

        <div>
          <div>
            <p>スキルバフ、召喚効果など 単体 主人公</p>
            <input type="number" class="box" name="skill_single_character_1">
          </div>

          <div>
            <p>スキルバフ、召喚効果など 単体 キャラクター2</p>
            <input type="number" class="box" name="skill_single_character_2">
          </div>

          <div>
            <p>スキルバフ、召喚効果など 単体 キャラクター3</p>
            <input type="number" class="box" name="skill_single_character_3">
          </div>

          <div>
            <p>スキルバフ、召喚効果など 単体 キャラクター4</p>
            <input type="number" class="box" name="skill_single_character_4">
          </div>
        </div>

        <%# ーーーーーーーー ↓アーティファクト ーーーーーーーー %>

        <div>
          <div>
            <p>アーティファクト キャラ2</p>
            <input type="number" class="box" name="artifact_character_2">
          </div>

          <div>
            <p>アーティファクト キャラ3</p>
            <input type="number" class="box" name="artifact_character_3">
          </div>

          <div>
            <p>アーティファクト キャラ4</p>
            <input type="number" class="box" name="artifact_character_4">
          </div>
        </div>

        <%# ーーーーーーーー ↓仲間のリミットボーナス ーーーーーーーー %>

        <div>
          <div>
            <p>キャラ2のリミットボーナス</p>
            <input type="number" class="box" name="limit_bonus_character_2">
          </div>

          <div>
            <p>キャラ3のリミットボーナス</p>
            <input type="number" class="box" name="limit_bonus_character_3">
          </div>

          <div>
            <p>キャラ4のリミットボーナス</p>
            <input type="number" class="box" name="limit_bonus_character_4">
          </div>
        </div>

        <%# ーーーーーーーー ↓仲間の指輪、耳飾り ーーーーーーーー %>

        <div>
          <div>
            <p>キャラ2の指輪、耳飾り</p>
            <input type="number" class="box" name="ring_character_2">
          </div>

          <div>
            <p>キャラ3の指輪、耳飾り</p>
            <input type="number" class="box" name="ring_character_3">
          </div>

          <div>
            <p>キャラ4の指輪、耳飾り</p>
            <input type="number" class="box" name="ring_character_4">
          </div>
        </div>

        <%# ーーーーーーーー ↓主人公、コンプリートボーナス他 ーーーーーーーー %>
        <%# ーーーーーーーー ↓主人公、コンプリートボーナス他 ーーーーーーーー %>

        <div>
          <p>主人公、コンプリートボーナス、ジョブのlvアップボーナス、lb、極地ボーナス</p>
          <input type="number" class="box" name="main_character_bonus">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const form = document.getElementById('estimate-form');
const totalElement_1 = document.getElementById('character_1');
const totalElement_2 = document.getElementById('character_2');
const totalElement_3 = document.getElementById('character_3');
const totalElement_4 = document.getElementById('character_4');

function calculateTotal() {
  let character_1 = 0;
  let character_2 = 0;
  let character_3 = 0;
  let character_4 = 0;


  // 武器の三手 x 加護の計算
  const magna_divine_protection_input = parseInt(document.getElementsByName('magna_divine_protection')[0].value);
  const magna_divine_protection = magna_divine_protection_input + 100;
  const optimus_divine_protection_input = parseInt(document.getElementsByName('optimus_divine_protection')[0].value);
  const optimus_divine_protection = optimus_divine_protection_input + 100;

  // 武器の三手 マグナ乱舞（小、中、大）
  const magna_boisterous_dance_small_slv10 = parseInt(document.getElementById('magna_boisterous_dance_small_slv10').value);
  const magna_boisterous_dance_medium_slv10 = parseInt(document.getElementById('magna_boisterous_dance_medium_slv10').value);
  const magna_boisterous_dance_large_slv10 = parseInt(document.getElementById('magna_boisterous_dance_large_slv10').value);
  const magna_boisterous_dance_small_slv15 = parseInt(document.getElementById('magna_boisterous_dance_small_slv15').value);
  const magna_boisterous_dance_medium_slv15 = parseInt(document.getElementById('magna_boisterous_dance_medium_slv15').value);
  const magna_boisterous_dance_large_slv15 = parseInt(document.getElementById('magna_boisterous_dance_large_slv15').value);
  const magna_boisterous_dance_medium_slv20 = parseInt(document.getElementById('magna_boisterous_dance_medium_slv20').value);

  // 武器の三手 マグナ三手（小、中、大）
  const magna_three_moves_small_slv10 = parseInt(document.getElementById('magna_three_moves_small_slv10').value);
  const magna_three_moves_medium_slv10 = parseInt(document.getElementById('magna_three_moves_medium_slv10').value);
  const magna_three_moves_large_slv10 = parseInt(document.getElementById('magna_three_moves_large_slv10').value);
  const magna_three_moves_small_slv15 = parseInt(document.getElementById('magna_three_moves_small_slv15').value);
  const magna_three_moves_medium_slv15 = parseInt(document.getElementById('magna_three_moves_medium_slv15').value);
  const magna_three_moves_large_slv15 = parseInt(document.getElementById('magna_three_moves_large_slv15').value);
  const magna_three_moves_medium_slv20 = parseInt(document.getElementById('magna_three_moves_medium_slv20').value);

  // 武器の三手 神石乱舞（小、中、大）
  const optimus_boisterous_dance_small_slv10 = parseInt(document.getElementById('optimus_boisterous_dance_small_slv10').value);
  const optimus_boisterous_dance_medium_slv10 = parseInt(document.getElementById('optimus_boisterous_dance_medium_slv10').value);
  const optimus_boisterous_dance_large_slv10 = parseInt(document.getElementById('optimus_boisterous_dance_large_slv10').value);
  const optimus_boisterous_dance_small_slv15 = parseInt(document.getElementById('optimus_boisterous_dance_small_slv15').value);
  const optimus_boisterous_dance_medium_slv15 = parseInt(document.getElementById('optimus_boisterous_dance_medium_slv15').value);
  const optimus_boisterous_dance_large_slv15 = parseInt(document.getElementById('optimus_boisterous_dance_large_slv15').value);
  const optimus_boisterous_dance_medium_slv20 = parseInt(document.getElementById('optimus_boisterous_dance_medium_slv20').value);

  // 武器の三手 神石三手（小、中、大）
  const optimus_three_moves_small_slv10 = parseInt(document.getElementById('optimus_three_moves_small_slv10').value);
  const optimus_three_moves_medium_slv10 = parseInt(document.getElementById('optimus_three_moves_medium_slv10').value);
  const optimus_three_moves_large_slv10 = parseInt(document.getElementById('optimus_three_moves_large_slv10').value);
  const optimus_three_moves_small_slv15 = parseInt(document.getElementById('optimus_three_moves_small_slv15').value);
  const optimus_three_moves_medium_slv15 = parseInt(document.getElementById('optimus_three_moves_medium_slv15').value);
  const optimus_three_moves_large_slv15 = parseInt(document.getElementById('optimus_three_moves_large_slv15').value);
  const optimus_three_moves_medium_slv20 = parseInt(document.getElementById('optimus_three_moves_medium_slv20').value);

  // 各武器の数 x 武器ごとの固定連撃率

  const magna_three_moves_total = 
  ((magna_boisterous_dance_small_slv10 * 135) + (magna_boisterous_dance_medium_slv10 * 215) + (magna_boisterous_dance_large_slv10 * 345) +
   (magna_boisterous_dance_small_slv15 * 200) + (magna_boisterous_dance_medium_slv15 * 290) + (magna_boisterous_dance_large_slv15 * 420) + (magna_boisterous_dance_medium_slv20 * 365) +
   (magna_three_moves_small_slv10 * 200) + (magna_three_moves_medium_slv10 * 350) + (magna_three_moves_large_slv10 * 500) +
   (magna_three_moves_small_slv15 * 350) + (magna_three_moves_medium_slv15 * 500) + (magna_three_moves_large_slv15 * 700) + (magna_three_moves_medium_slv20 * 600));

  const optimus_three_moves_total = 
  ((optimus_boisterous_dance_small_slv10 * 135) + (optimus_boisterous_dance_medium_slv10 * 215) + (optimus_boisterous_dance_large_slv10 * 345) +
   (optimus_boisterous_dance_small_slv15 * 200) + (optimus_boisterous_dance_medium_slv15 * 290) + (optimus_boisterous_dance_large_slv15 * 420) + (optimus_boisterous_dance_medium_slv20 * 365) +
   (optimus_three_moves_small_slv10 * 200) + (optimus_three_moves_medium_slv10 * 350) + (optimus_three_moves_large_slv10 * 500) +
   (optimus_three_moves_small_slv15 * 350) + (optimus_three_moves_medium_slv15 * 500) + (optimus_three_moves_large_slv15 * 700) + (optimus_three_moves_medium_slv20 * 600));

  // 浮動小数点数の精度の問題の誤差を防ぐため、実際の(連撃率 x 100)して整数で計算。
  // Math.floorで下三桁を切り捨て。toFixed(1)で小数点以下1桁にして見た目上の精度を保つ。
  // toFixed(1)で処理後は文字列になってしまうので parseFloat で数値に変換。

  const totalWeaponValueBeforeRoundingDown = (magna_divine_protection * magna_three_moves_total) + (optimus_divine_protection * optimus_three_moves_total);
  const totalWeaponValueBeforeToFixed = Math.floor(totalWeaponValueBeforeRoundingDown / 1000);

  character_1 += parseFloat((totalWeaponValueBeforeToFixed * 0.1).toFixed(1));
  character_2 += parseFloat((totalWeaponValueBeforeToFixed * 0.1).toFixed(1));
  character_3 += parseFloat((totalWeaponValueBeforeToFixed * 0.1).toFixed(1));
  character_4 += parseFloat((totalWeaponValueBeforeToFixed * 0.1).toFixed(1));


  // 武器、極破、アトス、ルオーホーン
  const kyokuha = document.querySelector('input[name="kyokuha"]:checked');
  if (kyokuha.value === "1") { 
    character_1 += 25;
    character_2 += 25;
    character_3 += 25;
    character_4 += 25;
  }

  const athos = parseInt(document.getElementById('athos').value);
  if (magna_divine_protection_input >= 280 || optimus_divine_protection_input >= 280) {
    const athosTotal = parseFloat((athos * 12.5).toFixed(1));
    character_1 += athosTotal;
    character_2 += athosTotal;
    character_3 += athosTotal;
    character_4 += athosTotal;
  } else {
    const athosTotal = parseFloat((athos * 6.25).toFixed(1));
    character_1 += athosTotal;
    character_2 += athosTotal;
    character_3 += athosTotal;
    character_4 += athosTotal;
  }

  const ruo = document.querySelector('input[name="ruo"]:checked');
  if (ruo.value === "1") { 
    character_1 += 14;
    character_2 += 14;
    character_3 += 14;
    character_4 += 14;
  }


  // オメガ武器、極星器の計算
  const forte_weapon_character_1 = document.querySelectorAll('input[name="forte_weapon_character_1"]:checked');
  const forte_weapon_character_2 = document.querySelectorAll('input[name="forte_weapon_character_2"]:checked');
  const forte_weapon_character_3 = document.querySelectorAll('input[name="forte_weapon_character_3"]:checked');
  const forte_weapon_character_4 = document.querySelectorAll('input[name="forte_weapon_character_4"]:checked');

  const omega_weapon = document.querySelectorAll('input[name="omega"]:checked');
  const star_weapon = document.querySelectorAll('input[name="star_weapon"]:checked');
  const star_weapon_minimum = 5;
  // オメガ武器、極星器の計算  主人公の計算
  for (let i = 0; i < forte_weapon_character_1.length; i++) {
    if (forte_weapon_character_1[i].value === omega_weapon[0].value) {
      character_1 += 25;
    }
  }
  for (let i = 0; i < forte_weapon_character_1.length; i++) {
    if (forte_weapon_character_1[i].value === star_weapon[0].value) {
      character_1 += 5;
    }
  }

  // オメガ武器、極星器の計算  キャラ2の計算
  for (let i = 0; i < forte_weapon_character_2.length; i++) {
    if (forte_weapon_character_2[i].value === omega_weapon[0].value) {
      character_2 += 25;
    }
  }
  for (let i = 0; i < forte_weapon_character_2.length; i++) {
    if (forte_weapon_character_2[i].value === star_weapon[0].value) {
      character_2 += 5;
    }
  }

  // オメガ武器、極星器の計算  キャラ3の計算
  for (let i = 0; i < forte_weapon_character_3.length; i++) {
    if (forte_weapon_character_3[i].value === omega_weapon[0].value) {
      character_3 += 25;
    }
  }
  for (let i = 0; i < forte_weapon_character_3.length; i++) {
    if (forte_weapon_character_3[i].value === star_weapon[0].value) {
      character_3 += 5;
    }
  }

  // オメガ武器、極星器の計算  キャラ4の計算
  for (let i = 0; i < forte_weapon_character_4.length; i++) {
    if (forte_weapon_character_4[i].value === omega_weapon[0].value) {
      character_4 += 25;
    }
  }
  for (let i = 0; i < forte_weapon_character_4.length; i++) {
    if (forte_weapon_character_4[i].value === star_weapon[0].value) {
      character_4 += 5;
    }
  }

  if (star_weapon[0].value !== "0") {
    character_1 += star_weapon_minimum;
    character_2 += star_weapon_minimum;
    character_3 += star_weapon_minimum;
    character_4 += star_weapon_minimum;
  }


  // メイン召喚石の計算
  const summons = document.querySelector('input[name="summons"]:checked');
  if (summons.value === "1") {
    character_1 += 50
    } else if (summons.value === "2") {
    character_1 += 25;
    character_2 += 25;
    character_3 += 25;
    character_4 += 25;
    } else if (summons.value === "3") {
    character_1 += 50;
    character_2 += 50;
    character_3 += 50;
    character_4 += 50;
  }


  // 召喚石「ハールートマールトの計算」
  const hama = document.querySelector('input[name="hama"]:checked');
  if (hama.value === "1") { 
    character_1 += 10;
    character_2 += 10;
    character_3 += 10;
    character_4 += 10;
  }


  // 終末武器第二スキルの計算
  const terminal_weapon = document.querySelector('input[name="terminal_weapon"]:checked');
  if (terminal_weapon.value === "1") {
    character_1 += 2.5;
    character_2 += 2.5;
    character_3 += 2.5;
    character_4 += 2.5;
    } else if (terminal_weapon.value === "2") {
    character_1 += 5;
    character_2 += 5;
    character_3 += 5;
    character_4 += 5;
  }


  // 神滅の印章の計算
  const coat_of_arms = document.querySelector('input[name="coat_of_arms"]:checked');
  if (coat_of_arms.value === "1") {
    character_1 += 3;
    character_2 += 3;
    character_3 += 3;
    character_4 += 3;
    } else if (coat_of_arms.value === "2") {
    character_1 += 5;
    character_2 += 5;
    character_3 += 5;
    character_4 += 5;
  }


  // 武器のその他要因の計算（全体）
  const weapon_outher = parseFloat(document.getElementsByName('weapon_outher')[0].value);
  if (weapon_outher) {
    character_1 += weapon_outher;
    character_2 += weapon_outher;
    character_3 += weapon_outher;
    character_4 += weapon_outher;
  }


  // スキルなどによる上昇の計算（全体）
  const skill_all = parseFloat(document.getElementsByName('skill_all')[0].value);
  if (skill_all) {
    character_1 += skill_all;
    character_2 += skill_all;
    character_3 += skill_all;
    character_4 += skill_all;
  }


  // スキルなどによる上昇の計算（個別）
  const skill_single_character_1 = parseFloat(document.getElementsByName('skill_single_character_1')[0].value);
  if (skill_single_character_1) {character_1 += skill_single_character_1}

  const skill_single_character_2 = parseFloat(document.getElementsByName('skill_single_character_2')[0].value);
  if (skill_single_character_2) {character_2 += skill_single_character_2}

  const skill_single_character_3 = parseFloat(document.getElementsByName('skill_single_character_3')[0].value);
  if (skill_single_character_3) {character_3 += skill_single_character_3}

  const skill_single_character_4 = parseFloat(document.getElementsByName('skill_single_character_4')[0].value);
  if (skill_single_character_4) {character_4 += skill_single_character_4}


  // アーティファクトの計算（個別）
  const artifact_character_2 = parseFloat(document.getElementsByName('artifact_character_2')[0].value);
  if (artifact_character_2) {character_2 += artifact_character_2}

  const artifact_character_3 = parseFloat(document.getElementsByName('artifact_character_3')[0].value);
  if (artifact_character_3) {character_3 += artifact_character_3}

  const artifact_character_4 = parseFloat(document.getElementsByName('artifact_character_4')[0].value);
  if (artifact_character_4) {character_4 += artifact_character_4}


  // リミットボーナスの計算（個別）
  const limit_bonus_character_2 = parseFloat(document.getElementsByName('limit_bonus_character_2')[0].value);
  if (limit_bonus_character_2) {character_2 += limit_bonus_character_2}

  const limit_bonus_character_3 = parseFloat(document.getElementsByName('limit_bonus_character_3')[0].value);
  if (limit_bonus_character_3) {character_3 += limit_bonus_character_3}

  const limit_bonus_character_4 = parseFloat(document.getElementsByName('limit_bonus_character_4')[0].value);
  if (limit_bonus_character_4) {character_4 += limit_bonus_character_4}


  // 指輪、耳飾りの計算（個別）
  const ring_character_2 = parseFloat(document.getElementsByName('ring_character_2')[0].value);
  if (ring_character_2) {character_2 += ring_character_2}

  const ring_character_3 = parseFloat(document.getElementsByName('ring_character_3')[0].value);
  if (ring_character_3) {character_3 += ring_character_3}

  const ring_character_4 = parseFloat(document.getElementsByName('ring_character_4')[0].value);
  if (ring_character_4) {character_4 += ring_character_4}


  // 主人公のコンプリートボーナス、lbなどの計算
  const main_character_bonus = parseFloat(document.getElementsByName('main_character_bonus')[0].value);
  if (main_character_bonus) {character_1 += main_character_bonus}


  totalElement_1.innerText = `character1: ${character_1}`;
  totalElement_2.innerText = `character2: ${character_2}`;
  totalElement_3.innerText = `character3: ${character_3}`;
  totalElement_4.innerText = `character4: ${character_4}`;
  }

// フォームにchangeイベントが発生した時にcalculateTotal関数を起動するイベントリスナーを追加
form.addEventListener('change', calculateTotal);
</script>

